<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="119自动化测试" parallel="false" >


    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <!--<listener class-name="AssertListener"/>-->
    </listeners>


    <test name="119登记系统测试-权利人名称" parallel="false" verbose="10" >

        <classes>
            <class name="configSelenium.ConfigSeleniumStart">
                <!--<methods>-->
                    <!--<include name="AssertReult"></include>-->
                <!--</methods>-->
            </class>
        </classes>
    </test>


</suite>
